.quizeRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quizeRightName {
  border-bottom: 0.1rem solid #555;
}

@media (max-width: 576px) {
  .quizeRight {
    gap: 30px;
  }
}
