.boxVolume {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: end;
}

.num {
  width: 22px;
  font-size: 0.8rem;
}

@media (max-width: 1200px) {
  .boxVolume {
    justify-content: center;
  }
}
