@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #456;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.header {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
}

.headerTop {
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
  display: flex;
}

.logo {
  background-image: url("assets/images/logo.svg");
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-item .page-link {
  background-color: #008966;
  border-color: #007c5d;
}

.page-item.active .page-link {
  background-color: #00bc8c;
  border-color: #007c5d;
}

.pagination {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  overflow: hidden;
  display: flex;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  flex: auto;
  text-align: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: 0;
  line-height: 1.25;
  color: #fff;
  background-color: #00bc8c;
  border: 0 solid transparent;
  cursor: auto;
  border-radius: 0;
  text-decoration: none;
  font-size: 1rem;
}

.gameBox {
  display: grid;
  grid:
    "quiz     quiz"
    "birdList bird"
    "btn       btn";
  row-gap: 20px;
  column-gap: 40px;
}

.quiz {
  grid-area: quiz;
  display: flex;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #303030;
  gap: 40px;
}

.birdList {
  grid-area: birdList;
  background-color: #303030;
}

.bird {
  grid-area: bird;
  background-color: #303030;
}

.btn {
  grid-area: btn;
  background-color: #303030;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid #444;
  color: #fff;
  transition: .3s;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.btn:active {
  border: 1px solid #666;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.btnWin {
  background-color: #00bc8c;
}

.btnWin:hover {
  background-color: #00efb2;
}
